@model forum.business.Models.Discussion

@{
    ViewData["Title"] = "Discussion";
}

<h1>Discussion</h1>

@Html.ActionLink("Edit", "EditDiscussion", Model.Id)
@using (Html.BeginForm("DeleteDiscussion", "Discussion", new { Id = Model.Id}, FormMethod.Post))
{
    <input type="submit" class="button" value="Delete" 
           onclick="return confirm('Soll @Model.Title wirklich gelöscht werden?')" />
}
<h2>@Model.Title</h2>
<p>by @Model.Author.UserName</p>
<p>@Model.Content </p>
<table>
    <tr><th>Comments</th></tr>
    @{
        foreach (var comment in Model.comments)
        {
            <tr>
                <td>
                    @comment.Content
                </td>
                <td>
                    By: @comment.Commenter.UserName
                </td>
                <td>
                    @if (comment.Commenter.UserName.Equals(User.Identity.Name))
                    {
                    <form asp-controller="Comment" asp-action="DeleteComment" asp-route-id="@comment.Id">


                        <input type="submit" value="Delete" />
                        
                    </form>
                    }
                </td>
            </tr>
        }
    }
    <partial name="../../Views/Comment/AddComment.cshtml" model='new forum.business.Models.Comment { DiscussionId = @Model.Id }'>
</table>

@Url.Action("UploadPictures", "Discussion")