@model List<forum.business.Models.Discussion>

@{
    @Html.ActionLink("Create new Discussion", "AddDiscussion");
    foreach (var discussion in Model)
    {
        
        if (@User.Identity.Name == discussion.Author.UserName)
        {
        <div class="actions">
             
            @Html.ActionLink("Edit", "EditDiscussion", new { id = discussion.Id})
            <span>&nbsp;|&nbsp;</span>
            @using (Html.BeginForm("DeleteDiscussion", "Discussion", new { Id = discussion.Id }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <input type="submit" class="deleteButton" value="Delete"
                       onclick="return confirm('Soll @discussion.Title wirklich gelöscht werden?')" />
            }
        </div>
        }
        <a class="discussionLink" href="@Url.Action("Details", new { id = discussion.Id })">
            <div>
                <h2>
                    @discussion.Title
                </h2>
                <p>By: @discussion.Author.UserName</p>
            </div>
        </a>
        <hr />
    }
}

